
img 
{
    height : 80px;
}

table, th, td 
{
    border: 1px solid black;
}

tr:nth-child(even) {background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

body
{
    background-color: lightgrey;
    font-family: arial ;
    color: #004d00; 
}

h1, form{text-align-last: center;}

